.app-container {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}


.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  margin-bottom: auto;
  width: 100%;
  
}

input,input[type=file],input[type=date],input[type=text],input[type=password],input[type=submit],input[type=email],input[type=url],input[type=number],input[type=datetime],textarea {
	border: 1px solid rgb(71, 129, 106);
	background: white;
	width: 100%;
}

form {
	width: 450px;
	margin: 0 auto;
	position: relative;
	top: 50px;

	background: rgb(165, 199, 127);
	
	border: 5px solid rgba(2, 46, 50,1);
	padding: 35px 30px 5px 30px;

	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;

	-webkit-box-shadow: inset 0px 1px 1px rgba(255,255,255,1), 0px 10px 15px rgba(0,0,0,.5);
	-moz-box-shadow: inset 0px 1px 1px rgba(255,255,255,1), 0px 10px 15px rgba(0,0,0,.5);
	box-shadow: inset 0px 1px 1px rgba(255,255,255,1), 0px 10px 15px rgba(0,0,0,.5);
	-moz-background-clip: padding; -webkit-background-clip: padding-box; background-clip: padding-box; 
}
textarea {
	height: 150px;
}


ol {
	list-style: none;
	margin: 0;
	padding: 0;
}
ol li label,ol li .grouplabel {
	display: block;
	font: bold 14px "Lucida Grande", Lucida, Verdana, sans-serif;
	padding: 5px;
	color: #315848;
	display: block;
	text-align: left;
	text-shadow: 0 1px 0px #FFF;
	
}

.post{
  widows: 150px;
 
}

.side-button-notes{
  color: white;
  padding: 5px 10px;
  
  width: 100px;
  cursor: pointer;


	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;

	background:#343A40;
}
.side-button{
  color: white;
  padding: 5px 10px;
  display: block;
  width: 100px;
	cursor: pointer;
	position: relative;
	text-shadow: 0 0 1px #333;
	z-index:0;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: .2m;

	background:#343A40;
}

.side-button::before{
	-webkit-animation: rotate 2s linear infinite;
					animation: rotate 2s linear infinite;
	background: -webkit-linear-gradient(top,#343A40,#FD0A69 90% );
	background: linear-gradient(to bottom,#343A40,#FD0A69 90%);
 border-radius: .15em;
 bottom: -50%;
 content: "";
	 left: -100%;
 position: absolute;

	
 z-index: -1;

					
}
.side-button::after{
	background:#343A40 ;
	border-radius: .1em;
	bottom: .1em;
  content: "";
    left: .1em;
  
    right: .1em;
    top: .1em;
  z-index: -1;

}
.side-button:hover{

	text-decoration: none;
  -webkit-transform: scale(1.2);
					transform: scale(1.2);
					background: -webkit-linear-gradient(top,#343A40,rgb(68, 45, 243) 90% );
	background: linear-gradient(to bottom,#343A40,rgb(68, 45, 243)  90%);
}
.side-button:hover::after{
	opacity:.8;
}
.side-button:active{
	-webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: none;
  transition: none;
}


.wrapper{

	width: 400px;
	height: 400px;	
	background-color:rgba(26, 27, 25, 0.2);
	border-radius: 50%;
	display: flex;
	justify-content: center;
	margin: auto;
	border-width: 5px;
	border-color:rgb(165, 199, 127,.8);
	border-style:solid;

}
#base-menu{
	width: 370px;
	height: 370px;
}

#hexagon {
	width: 100px;
	height: 55px;
	background: red;
	position: relative;
	
}
#hexagon:before {
	content: "";
	position: absolute;
	top: -25px;
	left: 0;
	width: 0;
	height: 0;

	border-left: 50px solid transparent;
	border-right: 50px solid transparent;
	border-bottom: 25px solid red;
}
#hexagon:after {
	content: "";
	position: absolute;
	bottom: -25px;
	left: 0;
	width: 0;
	height: 0;
	border-left: 50px solid transparent;
	border-right: 50px solid transparent;
	border-top: 25px solid red;
}

.animate-pop-in {
  -webkit-animation: no-transform .6s cubic-bezier(0, 0.9, 0.3, 1.2) forwards;
          animation: no-transform .6s cubic-bezier(0, 0.9, 0.3, 1.2) forwards;
  opacity: 0;
  -webkit-transform: translateY(-4rem) scale(.8);
          transform: translateY(-4rem) scale(.8);
}